@use "sass:color";

// 对 minima 变量进行现代写法定义，替换 lighten/darken 为 color.adjust

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
// 原：lighten($grey-color, 40%)
$grey-color-light: color.adjust($grey-color, $lightness: 40%) !default;
// 原：darken($grey-color, 25%)
$grey-color-dark:  color.adjust($grey-color, $lightness: -25%) !default;

$table-text-align: left !default;

$content-width:    800px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

