---
layout: default
---
<article class="project">
  <header class="reveal">
    <h1 class="reveal">
      {%- if page.title -%}
        {{ page.title }}
      {%- else -%}
        {{ page.degree }} · {{ page.school }}
      {%- endif -%}
    </h1>
    <p class="project-meta reveal">
      {%- if page.period -%}<span>{{ page.period }}</span>{%- endif -%}
      {%- if page.supervisor -%}<span> · Supervisor: {{ page.supervisor }}</span>{%- endif -%}
      {%- if page.instructors -%}<span> · Instructors: {{ page.instructors | join: ', ' }}</span>{%- endif -%}
    </p>
  </header>
  <section class="project-content">
    <div class="reveal">{{ content }}</div>
    
  </section>
</article>


